<html>
    <head>
<title> Musicando </title>
 <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
   <header>
    <p> Musicando </p>
       <nav>
           <ul>
            <li> <a href="/canciones/crear">cancion nueva </a> </li>
            <li> <a href="/canciones">ver canciones</a></li>

           </ul>
       </nav>
   </header>

