<%- include header.ejs -%>
         <h1>Listado de Canciones</h1>
       <ul>
           <% for (let i = 0; i < peliculas.length; i ++) {%>
        <li>
            <a href="/canciones/<%=canciones [i].id %>"></a>
            <%= canciones[i].titulo %>
        </li>
    }
       </ul>
    <%- include footer.ejs -%>